/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1.5em;
    line-height: 1.4;
    max-width: 800px;
    margin:auto;
}

ul {

    list-style: none;
    margin-left:0;
    padding-left:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    background-color: #055f71;
    align-items: center;
    justify-items: center;
 }

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    grid-column: span 3;
}

audio {
    grid-column: span 3;
    max-width: 150px;

}

p {
    grid-column: span 2;
    text-align: justify;
    margin-right: 10%;
}
.picto {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
}
/