html {
    color: #222;
    font-size: 1.5em;
    line-height: 1.5;
    max-width: 1200px;
    background: #eee;
    margin: auto;
    vertical-align: text-bottom;
    
}

body {
    font-family: "arial";
    line-height: 1.5;
    color: #555;
    min-width: 320px; 
    
}
    


header {
    display: grid;
    grid-template-columns: 100px 5fr 100px;
    background-color: #055f71;
    

}

a {
    color: white;
    text-decoration: none;

}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin-left:0;
    padding-left:0;
    color: white;
    align-items: center;
    justify-items: center;
    
 }
 
.logopsv {
    width: auto;
    height: 100px;
    grid-row: span 2;
    margin: auto;
     
}

.logofalc {
    width: auto;
    height: 100px;
    margin: 10px 10px 10px 0px;
    align-self: center;
    justify-self: center;
}


article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #333;
    margin: 0px 0px 100px 0px;
    
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
    text-transform: uppercase;
    
}

h3 {
    margin-top: 100px;
    margin-bottom: 0px;
}

audio {
    grid-column: span 3;
    max-width: 150px;

}

p {
    grid-column: span 2;
    text-align: justify;
    margin-right: 10%;
}
.picto {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #055f71;
    height: 150px;
    text-decoration: none;
 
    
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
   
    text-decoration: none;
    color: initial;
    border-radius: 8px;
   
}


@media screen and (max-width: 1200px) {

    html {
        padding: 0;
        margin: 0;
    }

    body {
        padding: 0;
        margin: 0;
    }

}

@media screen and (max-width: 950px) {

    ul {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 15px;
    }

    .logofalc {
        width: auto;
        height: 40px;
        margin-top: 10px;
    }

    html {
        font-size: 0.5em;
    }

@media screen and (max-width: 455px) {
    
    .logopsv {
        width: auto;
        height: 40px;
}

    header {
        font-size: 0.5em;
    }
}
 @viewport { 
        width: device-width; 
        zoom: 1; 
}

 @media screen and (max-width: 346px) {
         
    ul {
        font-size: 10px;
    }
}
}